<div class="container">
  <div class="background">

    <div id="title">
      <p>Your Payment Details</p>
    </div>
    <div class="circle" >
      <span class="dot"></span>
    </div>

    <div class="circle2">
      <span class="dot2"></span>
    </div>


    <div class="circle3">
      <span class="dot3"></span>
    </div>

    <div class="btn">
        <button type="button"><svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
          width="30px" height="15px"
          viewBox="10 10 126 130"
          style=" fill:#000000;"><g fill="none" fill-rule="nonzero" stroke="none" stroke-width="1" stroke-linecap="butt" stroke-linejoin="miter" stroke-miterlimit="10" stroke-dasharray="" stroke-dashoffset="0" font-family="none" font-weight="none" font-size="none" text-anchor="none" style="mix-blend-mode: normal"><path d="M0,192v-192h192v192z" fill="none"></path><g fill="#ffffff"><g id="surface1"><path d="M76.08,50.28c-0.84,0.15 -1.59,0.57 -2.16,1.2l-41.88,41.76l-2.64,2.76l2.64,2.76l41.88,41.76c0.93,1.14 2.415,1.665 3.855,1.335c1.425,-0.33 2.55,-1.455 2.88,-2.88c0.33,-1.44 -0.195,-2.925 -1.335,-3.855l-35.28,-35.28h113.4c1.38,0.015 2.67,-0.705 3.375,-1.905c0.69,-1.2 0.69,-2.67 0,-3.87c-0.705,-1.2 -1.995,-1.92 -3.375,-1.905h-113.4l35.28,-35.28c1.245,-1.155 1.575,-2.985 0.825,-4.5c-0.735,-1.53 -2.4,-2.37 -4.065,-2.1z"></path></g></g></g></svg>
           Previous Step</button>
    </div>

    <div id="btn">
      <button>Pay Now</button>
    </div>

    <div class="inner">
      <div id="enter">
        <label id="lab">CARDHOLDER NAME</label>
        <br><br>
        <label><input type="text"></label>
        <br><br>
        <label id="lab">CARD NUMBER</label>
        <br><br>
        <label><input type="text" style="border-bottom: 2px solid black"></label>
        <br><br>
        <label id="lab">EXPIRATION DATE</label><label id="lab"  style="margin-left: 122px">CVV <img src="../assets/icons8-help-50 (1).png" style="width: 18px; height:18px;margin-left: 50px" alt=""></label>
        <br><br>
        <div id="move"></div>
        <label><input type="month" min="2019" style="width: 150px"></label>
        <label id="move"  style="float: right"><input style="width: 100px" type="password"></label>
        <br><br><br>
        <label class="radio">
            <input type="checkbox" style="width: 10px;height:10px; background-color: chartreuse">Save my details for future payments
            <span class="checkmark"></span>
        </label>

      </div>

      <div class="sidebar">
      </div>
    </div>

    <div class="card">
      <div class="visa">
        <img id="visa" src="../assets/UIHere.png" style="width: 50px;height:50px" alt="">
      </div>
      <div class="img">
        <img src="../assets/card-chip.jpg" alt="">
        
        <div class="dots">
            <ul>
                <li> </li>
                <li> </li>
                <li> </li>
                <li></li>
              </ul>
        </div>
        <div class="dots2">
            <ul>
                <li> </li>
                <li> </li>
                <li> </li>
                <li></li>
              </ul>
        </div>

        <div class="dots3">
            <ul>
                <li> </li>
                <li> </li>
                <li> </li>
                <li></li>
              </ul>
        </div>

        <div class="dots4">
            <ul>
                <li> </li>
                <li> </li>
                <li> </li>
                <li></li>
              </ul>
        </div>

      </div>
      <div class="date">
        <p style="font-size: 11.95px;font-weight: bold">09 <span style="height: 20px">/</span> 20</p>
      </div>
    </div>
  </div>
</div>


<router-outlet></router-outlet>
